@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .play-btn {
    @apply flex items-center bg-green-500 p-4 transition opacity-0 rounded-full drop-shadow-md group-hover:opacity-100 hover:scale-110
  }
  .bg-gradient {
    @apply bg-gradient-to-b from-teal-700/80 to-neutral-900/95 via-neutral-900 via-20%
  }
  .section-container {
    @apply flex-1 h-full px-2 md:pl-0 overflow-x-auto border-y-8 border-black
  }
  .item-link {
    @apply text-neutral-400 hover:text-neutral-200 hover:underline underline-offset-2 pb-2 cursor-pointer
  }
}


html,
body,
:root {
  background-color: black;
  color-scheme: dark;
  height: 100%;
  overflow: hidden;
}

@-moz-document url-prefix() {
  .firefox-height {
    height: 0.5rem; /* Adjust the desired height for Firefox */
  }
}